body{
    background: #b5b4b2;
    background-size: cover;
    font-size: 18px;
}


.inputGroup {
    background-color: rgba(0, 0, 0, 0.7);
    display: block;
    position: relative;
}
.inputGroup label {
    font-weight: 100;
    height: 50px;
    font-size: 16px;
    padding: 16px 16px;
    width: 100%;
    display: block;
    text-align: left;
    color: #3C454C;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;
}
.inputGroup label:before {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale3d(1, 1, 1);
    transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
    opacity: 0;
    z-index: -1;
}

.inputGroup label:after {
    width: 25px;
    height: 25px;
    content: '';
    border: 2px solid #D1D7DC;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: -1px -1px;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 200ms ease-in;
}
/*input[type=radio]:not(:checked) ~ label:after {*/
/*    background: none;*/
/*    background-image: none !important;*/
/*    border: 0px;*/
/*}*/
/*input[type=radio]:checked ~ label {*/
/*    color: #fff;*/
/*}*/
/*input[type=radio]:checked ~ label:before {*/
/*    transform: translate(-50%, -50%) scale3d(56, 56, 1);*/
/*    opacity: 1;*/
/*}*/
/*input[type=radio]:checked ~ label:after {*/
/*    background-color: rgba(0, 0, 0, 0.7);*/
/*    border-color: #fff;*/
/*}*/

/*input[type=radio] {*/
/*    width: 32px;*/
/*    height: 50px;*/
/*    order: 1;*/
/*    z-index: 2;*/
/*    position: absolute;*/
/*    right: 30px;*/
/*    top: 50%;*/
/*    transform: translateY(-50%);*/
/*    cursor: pointer;*/
/*    visibility: hidden;*/
/*}*/

.login-container{

    display: block;
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%,-30%); */
    float: none;
    margin: auto;
}
.login-container .login-content{
    background: rgba(0, 0, 0, 0.4);
}
.pos-r{
    position: relative;
}
.login-container  .login-header{
    padding: 10px 30px;
}
.login-container, .login-container a,.login-container input,.login-container select{
    color: #ffffff;
}
.login-container .login-title span{
    padding: 10px 20px;
    display: inline-block;
    margin-bottom: 20px;
    text-shadow: -1px 1px 1px rgb(17, 42, 51);
}
.login-container .login-title span strong{
   color: #4bccff;
}
.login-container .login-body{
    padding: 30px 30px;
}
.login-container .login-body input.form-control ,select.form-control{
    background: rgba(0, 0, 0, 0.7);
    height: 50px;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    border-left: 3px solid transparent;
    font-size: 16px;
    -o-transition:all .5s;
    -webkit-transition:all .5s;
    transition:all .5s;
}
.hidden{
    display: none;
}
.login-container .login-body input.form-control:focus,select.form-control:focus{
    border-color: #4bccff;
}
.login-container .login-body input.form-control + i{
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 20px;
    color: rgb(24, 80, 103);
    -o-transition:all .5s;
    -webkit-transition:all .5s;
    transition:all .5s;
}
.login-container .login-body input.form-control:focus + i{
    color: #4bccff;
}
.login-container .login-body button {
    height: 50px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    font-size: 20px;
}
.login-container .login-footer{
    padding: 20px 0;
}
.template h5 a {
    color: #4bccff;
}

@media only screen and (max-width: 600px), screen and (max-height: 610px)  {
     
     .login-container  {
        padding: 0px; 
    }
    .login-container .login-title span {
        padding: 0px; 
        margin-bottom: 10px; 
    }
    /* .login-container .login-content {
         background: none; 
        -moz-box-shadow: none;
        -webkit-box-shadow: none; 
         box-shadow:none; 
    }*/
    .login-header {
        display: none;
    }
    .login-container .login-body {
        padding: 10px 10px;
    }
    .login-container .login-footer {
        padding: 0;
    }
}
@media only screen and (max-height: 400px)  {
       /*.login-container{
            position: static;
            transform:none;  
            padding: 0;    
        }*/
    }

